input a body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;

}

body {
  background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
  height: 100vh;
  width: 100vw;
  position: relative;

}

.search {
  /* position:  ; */
  float: left;
  margin-top: 200px;
  margin-left: 200px;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* transition: 5s; */

}
input {
  width: 300px;
  height: 40px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 25px 0 0 25px;
  padding-right: 0px;
  padding-left: 20px;
}

button {
 
  
  height: 43px;
  width: 60px;
  border: none;
  padding: 0px;
  margin-left: -5px;
  background-color: #fff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color: #cccccc;
  /* background-color: rgb(196, 67, 179); */
  /* background-image: linear-gradient( 102.3deg,  rgba(147,39,143,1) 5.9%, rgba(234,172,232,1) 64%, rgba(246,219,245,1) 89% ); */
  background-image: linear-gradient( 109.1deg,  rgba(181,73,91,1) 7.1%, rgba(225,107,140,1) 86.4% );
  outline: none;
  
}

button:hover {
  /* background-color: rgba(5, 84, 94, .5); */
  background-image: linear-gradient( 109.6deg,  rgba(101,58,150,1) 29.9%, rgba(168,141,194,1) 99.9% );
}