*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
}

.wrap {
  display: flex;
  width: 90vw;
}

.card {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  cursor: pointer;
  height: 80vh;                 
  /* ?????? */
  position: relative;
  margin: 10px;
  transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
}